<footer class="bg-primary-black w-full text-primary md:h-[20%] h-auto fixed bottom-0 left-0">
  <div class="flex flex-col md:flex-row justify-between items-center md:items-start px-4 py-6 md:py-12 h-full">

    <!-- Language Section (Left on larger screens) -->
    <div class="order-3 mb-4 md:hidden flex-1 flex items-center justify-start pt-2">
      <button class="text-primary text-sm flex items-center space-x-2">
        <img src="Assets/images/language.png" alt="Language Icon" class="w-4">
        <span class="language">Polski</span>
      </button>
    </div>

    <!-- Logo Section (Centered on all screens) -->
    <div class="order-1 md:order-2 mb-4 md:mb-0 text-center md:absolute md:left-1/2 md:transform md:-translate-x-1/2 md:h-[20%] md:px-4 md:py-14 pt-5 py-3">
      <img src="Assets/images/GERSEMII_white.png" alt="GERSEMI Logo" class="h-8 sm:h-8 md:h-8 lg:h-8 mx-auto">
    </div>

    <!-- Links Section (Right on larger screens) -->
    <div class="order-2 mb-4 md:mb-0 md:mt-[-0.25rem] flex flex-row space-x-6 text-center flex-1 items-center justify-center py-2">
      <a>
        <button class="text-primary text-sm md:flex items-center space-x-2 hidden">
          <img src="Assets/images/language.png" alt="Language Icon" class="w-4">
          <span class="language">Polski</span>
        </button>
      </a>
      <a href="#" class="text-primary text-sm">Regulamin</a>
      <a href="#" class="text-primary text-sm">Zwroty</a>
      <a href="#" class="text-primary text-sm">Sociale</a>
      <a href="#" class="text-primary text-sm">Polityka Prywatności</a>
    </div>
  </div>
</footer>
