<footer class="bg-primary-black absolute bottom-0 w-full h-48 text-primary">
    <div class="flex justify-between items-start h-full px-4 pt-12">
      <!-- Left Section: Language Button -->

      <div class="flex items-center ml-44">
        <button class="text-primary text-sm flex items-center space-x-2">
          <!-- Language Icon -->
          <img src="Assets/images/language.png" alt="Language Icon" class="w-4" />
          <!-- Language Text -->
          <span class="language">Polski</span>
        </button>
      </div>
      
  
      <!-- Middle Section: Logo -->
      <div class="flex justify-center items-center">
        <!-- Place your logo here -->

      </div>
  
      <!-- Right Section: Links -->
      <div class="flex space-x-6 mr-44">
        <a href="#" class="text-primary text-sm hover:text-gray-400">Regulamin</a>
        <a href="#" class="text-primary text-sm hover:text-gray-400">Zwroty</a>
        <a href="#" class="text-primary text-sm hover:text-gray-400">Sociale</a>
        <a href="#" class="text-primary text-sm hover:text-gray-400">Polityka Prywatności</a>
      </div>
    </div>
  </footer>
  