<nav class="bg-primary h-[5.5rem] text-primary-black relative">
  <div class="flex items-center justify-between px-4 md:px-8 lg:px-24 py-5 w-full h-full">
    <div class="flex items-center md:hidden transition duration-150">
      <img 
        src="Assets/images/menu_icon.png" 
        alt="Menu Icon" 
        class="h-6 w-6 cursor-pointer"
      />
    </div>

    <div class="absolute left-1/2 transform -translate-x-1/2 transition duration-150">
      <img src="Assets/images/GERSEMII.png" alt="GERSEMI Logo" class="h-8 sm:h-10 md:h-10 lg:h-10">
    </div>

    <div class="flex items-center md:hidden transition duration-150">
      <a href="#" class="flex items-center space-x-2">
        <span>Koszyk</span>
      </a>
    </div>

    <div class="hidden md:flex items-center justify-between w-full transition duration-150">
      <div class="flex items-center space-x-6 md:space-x-12">
        <button 
          class="focus:outline-none text-base h-[5.5rem] bg-red-500 sklep-button"
          (mouseenter)="ShowSubNav('block'); toggleMouseOverSklepButton(true)" 
          (mouseleave)="leftButton(true); ShowSubNav('hidden');  toggleMouseOverSklepButton(false)"
        >
          <span class="material-icons md:pl-2 md:pr-2 custom868:pl-4 custom868:pr-4 lg:pl-8 lg:pr-8">Sklep</span>
        </button>

        <div class="relative w-32 sm:w-40 md:w-40">
          <img 
            src="Assets/images/search_icon.png" 
            alt="Search Icon" 
            class="absolute left-2 top-1/2 transform -translate-y-1/2 h-5 w-5"
          />
          <input
            type="text"
            placeholder="Szukaj..."
            class="w-28 sm:w-36 md:w-36 custom950:focus:w-52 h-8 pl-10 pr-4 border border-gray-500 rounded-full focus:ring-1 focus:ring-primary-black focus:outline-none transition-all duration-150"
          />
        </div>
      </div>

      <div class="flex items-center space-x-6 md:space-x-12">
        <a href="#" class="flex items-center space-x-2">
          <span>Logowanie</span>
        </a>
        <a href="#" class="flex items-center space-x-2">
          <span>Koszyk</span>
        </a>
      </div>
    </div>
  </div>

  <div id="subNav" [ngClass]="SubNavState" class="p-4 bg-white shadow-lg rounded-lg flex space-x-4"
  (mouseenter)="leftButton(false); ShowSubNav('block'); toggleMouseOverSklepButton(true);"
  (mouseleave)="hideSubNavOnMouseLeave($event)">
  <div *ngFor="let chunk of chunkArray(items, 3); let i = index">
    <ul class="space-y-5 p-4">
      <li *ngFor="let item of chunk">
        <a href="#" class="block text-sm text-primary-black">{{ item }}</a>
      </li>
    </ul>
  </div>
</div>
</nav>
